body {
    background-color: darkkhaki;
}

h1 {
    text-align: center;

    background:burlywood;
}
.img {
    width: 150px;
    height: 150px;
    padding: 25px;
    margin: 25px;
}

#crystal-main {
    width: 650px;
    border: 2px solid gray;
    padding: 25px;
    background:rgb(196, 196, 197);
    color:rgb(46, 37, 15);
}
